* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Helvetica Neue", "Avenir", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Header nav */

.nav-container {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: #7fbec6;
  opacity: 0.6;
}

.nav-header {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 8%;
  justify-content: space-between;
}

.nav-text {
  color: white;
  text-decoration: none;
}

.nav-text:hover {
  color: white;
  text-decoration: none;
}

.nav-left-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
}

.nav-right-menu {
  display: flex;
  justify-content: center;
  width: 45%;
  white-space: nowrap;
}

.nav-right-menu > ul {
  width: 30%;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  margin: 0 10px;
}

/* HERO */

.hero {
  background-image: url(https://i.imgur.com/K4LpzYq.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.hero h1,
.hero h4 {
  color: #7fbec6;
  text-shadow: 2px 2px #444;
}

.hero h1 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
  top: 25%;
}

.hero h4 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
  top: 40%;
}

/* login links */

.loginLinks {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.profileImg {
  display: flex;
  justify-content: center;
}
.profileImg img {
  width: 100px;
  border-radius: 50%;
}

.profilePage h2 {
  padding: 1rem;
  text-align: center;
}

.profilePage h4 {
  text-align: center;
}

.profilePage {
  display: flex;
}

.sidebar {
  flex: 0 0 300px;
  background-color: #eee;
  height: 100vh;
  justify-content: center;
}

.menu-item {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid teal;
}

.menu-item a {
  color: #7fbec6;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.mainProfile {
  flex: 3;
}

form.search-form {
  display: flex;
  justify-content: center;
  margin: 10px;
}
input.search-input {
  width: 500px;
  font-size: 1.8rem;
}
.search-bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
button.search-button {
  background-color: #7fbec6;
  color: white;
  border: 1px solid teal;
  padding: 1rem;
}

.events-list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #7fbec6;
  border-radius: 10px;
  border-color: #7fbec6;
  padding: 20px;
}

.events-list:nth-child(odd) {
  background-color: #eee;
  border-color: #eee;
}

.messages {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: darkgray;
}

.inbox h2 {
  text-transform: uppercase;
  color: #7fbec6;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
  padding: 20px;
}

.createBox {
  width: 200px;
  height: 100px;
  background-color: #7fbec6;
  color: darkgray;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.createBox a {
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createBox a:hover {
  text-decoration: none;
  color: black;
}

.create {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
}

.btn-teal {
  background-color: #7fbec6 !important;
  border-color: #7fbec6 !important;
}

h1.event-form {
  color: #7fbec6;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px;
}

.signUpForm {
  background-color: #7fbec6;
  border: 1px solid teal;
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 30px;
}

.signUpForm h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.signUpForm form {
  display: flex;
  flex-direction: column;
}

.signUpForm button {
  margin: 10px;
}

.messageForm {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #7fbec6;
  margin: 50px;
  flex-direction: column;
}

.messageForm form {
  display: flex;
  flex-direction: column;
}

.messageForm label {
  font-size: 1.5rem;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #7fbec6;
  text-align: center;
}

.about p {
  text-align: center;
  font-size: 2rem;
}

footer {
  padding: 10px;
  background-color: #7fbec6;
  opacity: 0.6;
}

footer p {
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
}
.icon {
  border-radius: 50%;
  border: 1px solid #7fbec6;
  margin: 2rem;
}
.icon:hover {
  background-color: #7fbec6;
  transition: 0.5s;
}

.icon:hover i {
  color: white;
}
.icons i {
  color: #7fbec6;
  margin: 2rem;
  font-size: 4rem;
}

.eventPage {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: teal;
}

.eventPage p {
  font-size: 1rem;
}

.event {
  width: 200px;
  height: 100px;
  background-color: #7fbec6;
  color: teal;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.event a {
  color: black;
  display: flex;
  justify-content: center;
}

.friends-page {
  display: flex;
  justify-content: center;
  align-content: center;
}

.friends-page h1 {
  color: #7fbec6;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Boxing in items */

.box-bordered {
  border: 1px solid teal;
  margin: 10px 30px;
  padding: 10px;
}